@{
    ViewData["Title"] = "Mudar minha senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = ViewBag.UserId != null ? ViewBag.UserId : new Guid();
}

<h4>Mudar minha senha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" asp-action="CreateNewPassword" onsubmit="checkPasswords">
            <input name="userId" value="@userId" hidden/>
            <div class="form-group">
                <label class="control-label">Nova Senha</label>
                <input id="password" name="newPassword" type="password" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Confirma Nova Senha</label>
                <input id="confirm-password" name="confirmPassword" class="form-control" type="password"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary-mp btn-lg" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Notifications/flunt-notifications.js"></script>

    <script>
        $(document).ready(() => {
            if ('@ViewBag.Faild' == 'True')
                showFluntNotifications('@ViewBag.Notifications', 'mudar', 'Senha');
            else if('@ViewBag.Faild' == 'False')
                showSuccessMessage('@ViewBag.Notifications');
        });
    </script>

    <script>
        $('#form').on('submit', function (e) {

            let newPass = $('#password').val();
            let confirmNewPass = $('#confirm-password').val();

            if (newPass != confirmNewPass) {
                e.preventDefault();
                showFluntNotifications('a confirmação não confere com a nova senha', 'mudar', 'Senha');
            }
        });
    </script>
}


